.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  .container__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #50c3c8;
    padding: 20px;
    flex-wrap: wrap;
    min-height: 200px;

    .info {
      max-width: 800px;
      min-width: 300px;
    }

    .question {
      font-size: 52px;
      font-weight: bold;
    }

    p {
      font-size: 24px;
      word-wrap: break-word;
    }
  }
}
