.header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  height: 142px;
  background-color: var(--background-white);
  width: 100%;

  .logo {
    width: 329px;
    height: 141px;
    @media (width < 700px) {
      width: 150px;
      height: 150px;
    }
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .nav {
    display: flex;
    border-radius: 20px;
    gap: 30px;
    @media (width < 1223px) {
      display: none;
    }

    .link_header {
      padding: 3px 40px;
      color: var(--color-texto);
      text-decoration: none;
      font-weight: 700;
      font-size: 32px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      &:hover {
        transform: scale(1.1) translateX(10px);
        color: var(--color-secundario);
        transition: all 0.5s ease-in-out;
      }
    }

    .active {
      background-color: transparent;
      color: var(--color-secundario);
    }
  }

  .container {
    display: flex;
  }

  /* search */

  .searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .btn {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      &.menu {
        position: relative;

        .menuModal {
          position: absolute;
          top: 100%;
          right: 0;
          background-color: var(--background-white);
          border-radius: 6px;
          padding: 10px;
          box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.08);
          z-index: 100;
          display: none;
          width: 200px;
          display: none;
          flex-direction: column;
          gap: 10px;

          &.active {
            display: flex;
          }

          .link {
            text-decoration: none;
            color: var(--color-texto);
            font-weight: 700;
            font-size: 22px;
            border-radius: 20px;

            &:hover {
              transform: scale(1.1) translateX(10px);
              color: var(--color-secundario);
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
    @media (width < 1223px) {
      display: none;
    }
  }
}
