.container {
  display: grid;
  grid: "zona card img" 1fr / 40% 30% 30%;
  background-color: #d9d9d9;
  padding: 20px;

  height: 600px;
  max-height: 600px;

  .zona {
    grid-area: zona;
    padding: 20px;

    .titulo1 {
      font-size: 84px;
      font-weight: bold;
      line-height: 1;
      text-wrap: wrap;
    }

    .titulo2 {
      font-size: 36px;
      line-height: 1;
    }

    .titulo3 {
      font-size: 20px;
      margin-top: 80px;
    }
  }

  .card {
    grid-area: card;
    gap: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .img {
    grid-area: img;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
