.container__info {
  display: grid;
  grid: "info img" 1fr / 1fr 1fr;
  gap: 2rem;

  @media (width < 1070px) {
    grid:
      "img" 1fr
      "info" 1fr
      / 1fr;
  }

  .container__info__img {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 600px;
      height: 600px;
      object-fit: cover;
      border-radius: 50%;

      @media (width < 650px) {
        width: 400px;
        height: 400px;
      }

      @media (width < 450px) {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }
    }

    .content_heard {
      position: relative;
    }

    .heart__icon {
      position: absolute;
      bottom: 30px;
      right: 90px;
      cursor: pointer;
      border: none;
      background: transparent;

      @media (width < 650px) {
        bottom: 10px;
        right: 50px;
      }

      @media (width < 450px) {
        bottom: 10px;
        right: 10px;
      }
    }
  }

  .container__info__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    padding-left: 126px;
    width: 100%;

    @media (width < 770px) {
      padding-left: 50px;
    }

    .title {
      font-size: 84px;
      @media (width < 400px) {
        font-size: 52px;
      }
    }

    .phone {
      display: flex;
      gap: 20px;
      align-items: center;

      p,
      a {
        font-size: 32px;
      }
    }
  }
}
