.where {
  display: grid;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  grid:
    "image" 1fr
    "card" auto
    / 1fr;

  .image {
    grid-area: image;
  }

  .text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 5rem;
      font-weight: bold;
      color: var(--color-texto);

      &:hover {
        animation: slide 0.5s ease-in-out infinite;
      }
    }
  }

  .card {
    grid-area: card;
    margin-top: 20px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
    color: var(--color-secundario);
  }
  50% {
    transform: translateX(10px);
    color: var(--color-secundario);
  }
  100% {
    transform: translateX(0);
    color: var(--color-secundario);
  }
}
