:root {
  --color-principal: #006F3D; /* Verde claro */
  --color-secundario: #FF6A13; /* Naranja cálido */
  --color-acento: #F1F1F1; /* Gris claro */
  --color-texto: #3D3D3D; /* Gris oscuro */
  --color-fondo: #F5F5F5; /* Fondo suave */
  --color-yellow: #F8D34A; /* Amarillo */
  --color-yellow-soft: #ecdc94; /* Amarillo suave */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap-style: pretty;
}

body {
  background-color: var(--color-fondo);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-texto);
  height: 100dvb;
}