.tab_container {
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 40px;

  .tab_container_img {
    width: 914px;
    height: 700px;
    position: relative;

    .img {
      width: 100%;
      height: 100%;
    }

    .tab {
      position: absolute;
      cursor: pointer;

      &.tab__uno {
        top: 70px;
        left: 200px;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: none;
        background-color: transparent;
      }

      &.tab__dos {
        top: 140px;
        left: 430px;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: none;
        background-color: transparent;
      }

      &.tab__tres {
        top: 280px;
        left: 230px;
        border-radius: 50%;
        width: 170px;
        height: 170px;
        border: none;
        background-color: transparent;
      }

      &.tab__cuatro {
        top: 350px;
        left: 430px;
        border-radius: 50%;
        width: 190px;
        height: 190px;
        border: none;
        background-color: transparent;
      }
      &.tab__cuatro_uno {
        top: 320px;
        left: 590px;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        border: none;
        background-color: transparent;
      }

      &.tab__cinco {
        top: 480px;
        left: 250px;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: none;
        background-color: transparent;
      }
    }

    .centros_text {
      position: absolute;
      top: 10px;
      left: -380px;
      color: var(--color-texto);
      width: 481px;
      height: 216px;

      .principal {
        font-size: 64px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
      }

      .secundario {
        font-size: 36px;
        text-align: center;
      }
    }

    .selection_text {
      position: absolute;
      bottom: 10px;
      right: -280px;
      color: var(--color-texto);
      width: 481px;
      height: 216px;

      .principal {
        font-size: 64px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
      }

      .secundario {
        font-size: 36px;
        text-align: center;
      }
    }
  }
}
