.section_img {
  background-image: url("/img/turismo.jpg");
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }

  .container_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 20px;

    .title {
      color: var(--text-white);
      font-size: 84px;
      font-style: normal;
      font-weight: 400;
      line-height: 74px;

      @media (width < 720px) {
        font-size: 64px;
        line-height: 64px;
      }

      @media (width < 500px) {
        font-size: 40px;
        line-height: 40px;
      }
    }

    .subtitle {
      color: var(--text-white);
      font-size: 64px;
      font-style: normal;
      font-weight: 500;
      line-height: 65px;

      @media (width < 720px) {
        font-size: 44px;
        line-height: 44px;
      }

      @media (width < 500px) {
        font-size: 24px;
        line-height: 24px;
      }
    }

    .info {
      color: var(--text-white);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
      margin-top: 34px;

      @media (width < 720px) {
        line-height: 20px;
      }
    }

    button {
      background-color: var(--color-secundario);
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      text-align: center;
      font-size: 15.4px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      border-radius: 20px;
      margin-top: 56px;
    }
  }
}

.section_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-principal);
  height: 300px;

  .container_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 600px;

    .title {
      color: white;
      font-size: 52px;
      font-weight: bold;
      text-align: center;

      .orange {
        color: var(--color-secundario);
      }
    }

    .info {
      color: white;
      font-size: 20px;
      text-align: center;
      margin-top: 40px;
    }
  }
}

.section_map {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
}

.section_cultura {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-yellow-soft);

  .title {
    color: var(--color-principal);
    font-size: 52px;
    font-weight: bold;
    text-align: center;
  }

  .orange {
    color: var(--color-secundario);
  }

  .info {
    color: var(--color-texto);
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
  }
}

.section_join {
  display: flex;
  flex-direction: row;
  background-color: var(--color-secundario); /* Fondo naranja */
  color: white;
  width: 100%;
  height: 300px;

  .imageContainer {
    position: relative;
    width: 30%;
    height: 100%;
  }

  .textContainer {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .textContainer h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .highlight {
    color: var(--color-yellow); /* Amarillo guía */
    font-style: italic;
  }

  .textContainer p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }

  .ctaButton {
    background-color: var(--color-principal); /* Botón verde oscuro */
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 200px;
  }

  .ctaButton:hover {
    transform: translateY(-2px);
  }
}
