.main {
  padding-top: 95px;
}

.section_video {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;

  .video {
    width: 100%;
    height: 100%;
  }

  .container_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);

    .title {
      color: var(--text-white);
      font-size: 84px;
      font-style: normal;
      font-weight: 700;
      line-height: 74px;

      @media (width < 720px) {
        font-size: 64px;
        line-height: 64px;
      }

      @media (width < 500px) {
        font-size: 40px;
        line-height: 40px;
      }
    }

    .animated-text-wrapper {
      display: inline-block;
      overflow: visible;
      line-height: 1.2;
      perspective: 1000px;
    }

    .subtitle,
    .animated-text {
      color: var(--text-white);
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding: 0;
      display: inline-block;
      position: relative;
      transform-style: preserve-3d;

      @media (width < 720px) {
        font-size: 44px;
      }

      @media (width < 500px) {
        font-size: 24px;
      }

      /* Word styles */
      .word {
        display: inline-block;
        white-space: nowrap;
        vertical-align: top;
        overflow: visible;
        position: relative;
        margin-right: 0.1em;
        will-change: transform, opacity;
      }

      /* Character styles */
      .char {
        display: inline-block;
        position: relative;
        will-change: transform, opacity, filter;
        transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
        transform-style: preserve-3d;
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        backface-visibility: hidden;
      }
    }

    .info {
      color: var(--text-white);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
      margin-top: 34px;

      @media (width < 720px) {
        line-height: 20px;
      }
    }

    .button {
      background-color: var(--color-secundario);
      color: white;
      border: none;
      padding: 40px 80px;
      cursor: pointer;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      border-radius: 20px;
      margin-top: 56px;
      margin-left: auto;
      margin-right: 350px;

      @media (width < 720px) {
        margin-right: 50px;
        font-size: 24px;
        padding: 20px 40px;
        line-height: 24px;
        border-radius: 10px;
        margin-top: 20px;
      }
    }
  }
}
.section_img {
  /* background-image: url("/img/san_luis.jpeg"); */
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;

  @media (width < 620px) {
    background-size: cover;
    height: 400px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0.5) 50%,
      var(--background-white) 90%
    );
  }

  .container_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 20px;

    .title {
      color: var(--text-white);
      font-size: 84px;
      font-style: normal;
      font-weight: 700;
      line-height: 74px;

      @media (width < 720px) {
        font-size: 64px;
        line-height: 64px;
      }

      @media (width < 500px) {
        font-size: 40px;
        line-height: 40px;
      }
    }

    .animated-text-wrapper {
      display: inline-block;
      overflow: visible;
      line-height: 1.2;
      perspective: 1000px;
    }

    .subtitle,
    .animated-text {
      color: var(--text-white);
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding: 0;
      display: inline-block;
      position: relative;
      transform-style: preserve-3d;

      @media (width < 720px) {
        font-size: 44px;
      }

      @media (width < 500px) {
        font-size: 24px;
      }

      /* Word styles */
      .word {
        display: inline-block;
        white-space: nowrap;
        vertical-align: top;
        overflow: visible;
        position: relative;
        margin-right: 0.1em;
        will-change: transform, opacity;
      }

      /* Character styles */
      .char {
        display: inline-block;
        position: relative;
        will-change: transform, opacity, filter;
        transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
        transform-style: preserve-3d;
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        backface-visibility: hidden;
      }
    }

    .info {
      color: var(--text-white);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
      margin-top: 34px;

      @media (width < 720px) {
        line-height: 20px;
      }
    }

    .button {
      background-color: var(--color-secundario);
      color: white;
      border: none;
      padding: 40px 80px;
      cursor: pointer;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      border-radius: 20px;
      margin-top: 56px;
      margin-left: auto;
      margin-right: 350px;

      @media (width < 720px) {
        margin-right: 50px;
        font-size: 24px;
        padding: 20px 40px;
        line-height: 24px;
        border-radius: 10px;
        margin-top: 20px;
      }
    }
  }
}

.section_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
  position: relative;

  .travel {
    width: 400px;
    height: 400px;
  }

  .route {
    width: 300px;
    height: auto;

    @media (width > 720px) {
      width: 100%;
      height: auto;
    }
  }

  .gifs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .check {
    position: absolute;
    bottom: 30px;
    left: 100px;
    z-index: -1;

    @media (width < 720px) {
      display: none;
    }
  }

  .hash {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: -1;

    @media (width < 720px) {
      display: none;
    }
  }

  .container_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 20px;

    .title {
      color: var(--text);
      font-size: 64px;
      font-style: normal;
      font-weight: 500;
      line-height: 65px;

      @media (width <= 1262px) {
        font-size: 50px;
        line-height: 44px;
      }

      @media (width <= 997px) {
        font-size: 36px;
        line-height: 44px;
      }

      @media (width <= 730px) {
        font-size: 26px;
        line-height: 26px;
      }
      @media (width <= 558px) {
        text-align: center;
      }
    }

    .title_2 {
      color: var(--text);
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 43px;

      @media (width <= 1262px) {
        font-size: 26px;
        line-height: 44px;
      }

      @media (width <= 997px) {
        font-size: 20px;
        line-height: 44px;
      }

      @media (width <= 558px) {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
      }
    }

    .title_3 {
      color: var(--text);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;

      @media (width <= 997px) {
        font-size: 12px;
        line-height: 44px;
      }

      @media (width <= 558px) {
        font-size: 12px;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}

.section_map {
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  position: relative;

  @media (width < 720px) {
    height: 600px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0.5) 50%,
      var(--background-white) 100%
    );
  }
}

.section_cultura {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-white);

  .title {
    font-size: 84px;
    font-weight: bold;
    font-style: normal;

    @media (width < 720px) {
      font-size: 44px;
    }
  }

  .info {
    font-size: 28px;
    font-style: normal;

    @media (width < 720px) {
      font-size: 20px;
    }
  }

  .container {
    display: grid;
    grid:
      "zonaUno zonaDos zonaTres" 1fr
      "zonaUno zonaCuatro zonaCinco" 1fr
      / 40% 30% 30%;
    padding: 20px;
    width: 90%;
    min-height: 600px;
    gap: 20px;

    @media (width < 720px) {
      grid:
        "zonaUno" 1fr
        "zonaDos" 1fr
        "zonaTres" 1fr
        "zonaCuatro" 1fr
        "zonaCinco" 1fr
        / 100%;
    }

    .zonaUno {
      grid-area: zonaUno;
    }

    .zonaDos {
      grid-area: zonaDos;
    }

    .zonaTres {
      grid-area: zonaTres;
    }

    .zonaCuatro {
      grid-area: zonaCuatro;
    }

    .zonaCinco {
      grid-area: zonaCinco;
    }
  }
}

/* Estilos para la sección del carrusel */
.section_carrusel {
  /* padding: 60px 20px; */
  background-color: var(--background-white);
  text-align: center;
}

.section_title {
  font-size: clamp(2rem, 5vw, 5rem);
  color: var(--text-primary);
  margin-bottom: 1rem;
  font-weight: 600;
}

.section_subtitle {
  font-size: clamp(1rem, 2vw, 1.7rem);
  color: var(--text-secondary);
  margin-bottom: 2.5rem;
}

.carrusel_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos para la sección de unirse */
.section_join {
  display: flex;
  flex-direction: row;
  background-color: var(--color-secundario); /* Fondo naranja */
  color: white;
  width: 100%;
  height: 300px;

  .imageContainer {
    position: relative;
    width: 30%;
    height: 100%;
  }

  .textContainer {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .textContainer h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .highlight {
    color: var(--color-yellow); /* Amarillo guía */
    font-style: italic;
  }

  .textContainer p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }

  .ctaButton {
    background-color: var(--color-principal); /* Botón verde oscuro */
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 200px;
  }

  .ctaButton:hover {
    transform: translateY(-2px);
  }
}

.sectionImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;

  @media (width < 520px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .icons {
    width: 100px;
    height: auto;
  }
}

.section_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
  padding: 20px;

  .title_contact {
    text-align: center;
    font-size: clamp(2rem, 5vw, 5rem);
    color: var(--text-primary);
    margin-bottom: 1rem;
    font-weight: 600;
  }

  .info_contact {
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.7rem);
    color: var(--text-secondary);
    margin-bottom: 2.5rem;
  }

  .btnContact {
    background-color: var(--color-secundario);
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.7rem);
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
