.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  .container__title {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    min-height: 200px;
    margin-bottom: 40px;

    .info {
      width: 100%;
      text-align: center;
    }

    .question {
      font-size: clamp(24px, 4vw, 62px);
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      font-size: clamp(24px, 4vw, 32px);
      word-wrap: break-word;
    }
  }
}
